In [60]:
import pandas as pd

In [61]:
df=pd.read_csv("C:/Users/Maanz-AI/Desktop/pandas_tutorial/datas/B17.csv")

In [62]:
df.head()

,Location,Price,Area,Bedrooms,Baths,Link
0,"MPCHS - Block C1, MPCHS - Multi Gardens",2.5 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...
1,"MPCHS - Block B, MPCHS - Multi Gardens",3.8 Crore,12 Marla,4,4,https://www.zameen.com//Property/mpchs_multi_g...
2,"MPCHS - Block F, MPCHS - Multi Gardens",1.95 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...
3,"MPCHS - Block C1, MPCHS - Multi Gardens",1.75 Crore,5 Marla,3,4,https://www.zameen.com//Property/mpchs_multi_g...
4,"Faisal Margalla City, B-17",2 Crore,7 Marla,6,6,https://www.zameen.com//Property/b_17_faisal_m...

In [63]:
# checking name of the columns
df.columns

Index(['Location', 'Price', 'Area', 'Bedrooms', 'Baths', 'Link'], dtype='object')

In [64]:
# renaming columns like Price to Complete Price and similar Link to Complete Link
df.rename(columns={'Link':'Complete Link','Price':'Complete Price'},inplace=True)

In [65]:
df

,Location,Complete Price,Area,Bedrooms,Baths,Complete Link
0,"MPCHS - Block C1, MPCHS - Multi Gardens",2.5 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...
1,"MPCHS - Block B, MPCHS - Multi Gardens",3.8 Crore,12 Marla,4,4,https://www.zameen.com//Property/mpchs_multi_g...
2,"MPCHS - Block F, MPCHS - Multi Gardens",1.95 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...
3,"MPCHS - Block C1, MPCHS - Multi Gardens",1.75 Crore,5 Marla,3,4,https://www.zameen.com//Property/mpchs_multi_g...
4,"Faisal Margalla City, B-17",2 Crore,7 Marla,6,6,https://www.zameen.com//Property/b_17_faisal_m...
...,...,...,...,...,...,...
170,"MPCHS - Block C1, MPCHS - Multi Gardens",2.4 Crore,8.5 Marla,7,7,https://www.zameen.com//Property/mpchs_multi_g...
171,"B-17, Islamabad",1.2 Crore,4 Marla,3,3,https://www.zameen.com//Property/islamabad_b_1...
172,"MPCHS - Block C, MPCHS - Multi Gardens",6.6 Crore,1.2 Kanal,6,8,https://www.zameen.com//Property/mpchs_multi_g...
173,"MPCHS - Block C, MPCHS - Multi Gardens",2.1 Crore,8 Marla,4,4,https://www.zameen.com//Property/mpchs_multi_g...
174,"B-17, Islamabad",2.9 Crore,10 Marla,8,8,https://www.zameen.com//Property/islamabad_b_1...

In [66]:
# checking columns name
df.columns

Index(['Location', 'Complete Price', 'Area', 'Bedrooms', 'Baths',
       'Complete Link'],
      dtype='object')

In [67]:
# another way to change columns name
new_columns=['loc','pri','are','bed','bat','lk']
df.columns=new_columns

In [68]:
df

,loc,pri,are,bed,bat,lk
0,"MPCHS - Block C1, MPCHS - Multi Gardens",2.5 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...
1,"MPCHS - Block B, MPCHS - Multi Gardens",3.8 Crore,12 Marla,4,4,https://www.zameen.com//Property/mpchs_multi_g...
2,"MPCHS - Block F, MPCHS - Multi Gardens",1.95 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...
3,"MPCHS - Block C1, MPCHS - Multi Gardens",1.75 Crore,5 Marla,3,4,https://www.zameen.com//Property/mpchs_multi_g...
4,"Faisal Margalla City, B-17",2 Crore,7 Marla,6,6,https://www.zameen.com//Property/b_17_faisal_m...
...,...,...,...,...,...,...
170,"MPCHS - Block C1, MPCHS - Multi Gardens",2.4 Crore,8.5 Marla,7,7,https://www.zameen.com//Property/mpchs_multi_g...
171,"B-17, Islamabad",1.2 Crore,4 Marla,3,3,https://www.zameen.com//Property/islamabad_b_1...
172,"MPCHS - Block C, MPCHS - Multi Gardens",6.6 Crore,1.2 Kanal,6,8,https://www.zameen.com//Property/mpchs_multi_g...
173,"MPCHS - Block C, MPCHS - Multi Gardens",2.1 Crore,8 Marla,4,4,https://www.zameen.com//Property/mpchs_multi_g...
174,"B-17, Islamabad",2.9 Crore,10 Marla,8,8,https://www.zameen.com//Property/islamabad_b_1...

In [69]:
# checking columns name
df.columns

Index(['loc', 'pri', 'are', 'bed', 'bat', 'lk'], dtype='object')

In [70]:
# another way of changing columns name
new_name=['LO','PR','AR','BE','BA','L K']
df=pd.read_csv("C:/Users/Maanz-AI/Desktop/pandas_tutorial/datas/B17.csv", header=0, names=new_name)

In [71]:
df

,LO,PR,AR,BE,BA,L K
0,"MPCHS - Block C1, MPCHS - Multi Gardens",2.5 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...
1,"MPCHS - Block B, MPCHS - Multi Gardens",3.8 Crore,12 Marla,4,4,https://www.zameen.com//Property/mpchs_multi_g...
2,"MPCHS - Block F, MPCHS - Multi Gardens",1.95 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...
3,"MPCHS - Block C1, MPCHS - Multi Gardens",1.75 Crore,5 Marla,3,4,https://www.zameen.com//Property/mpchs_multi_g...
4,"Faisal Margalla City, B-17",2 Crore,7 Marla,6,6,https://www.zameen.com//Property/b_17_faisal_m...
...,...,...,...,...,...,...
170,"MPCHS - Block C1, MPCHS - Multi Gardens",2.4 Crore,8.5 Marla,7,7,https://www.zameen.com//Property/mpchs_multi_g...
171,"B-17, Islamabad",1.2 Crore,4 Marla,3,3,https://www.zameen.com//Property/islamabad_b_1...
172,"MPCHS - Block C, MPCHS - Multi Gardens",6.6 Crore,1.2 Kanal,6,8,https://www.zameen.com//Property/mpchs_multi_g...
173,"MPCHS - Block C, MPCHS - Multi Gardens",2.1 Crore,8 Marla,4,4,https://www.zameen.com//Property/mpchs_multi_g...
174,"B-17, Islamabad",2.9 Crore,10 Marla,8,8,https://www.zameen.com//Property/islamabad_b_1...

In [72]:
# checking columns name
df.columns

Index(['LO', 'PR', 'AR', 'BE', 'BA', 'L K'], dtype='object')

In [73]:
# removing space with in columns name by using str.replace() method 
df.columns=df.columns.str.replace(' ', '_')

In [74]:
df.columns

Index(['LO', 'PR', 'AR', 'BE', 'BA', 'L_K'], dtype='object')