In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("C:/Users/Maanz-AI/Desktop/pandas_tutorial/datas/B17.csv")

In [5]:
df.head()

,Location,Price,Area,Bedrooms,Baths,Link
0,"MPCHS - Block C1, MPCHS - Multi Gardens",2.5 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...
1,"MPCHS - Block B, MPCHS - Multi Gardens",3.8 Crore,12 Marla,4,4,https://www.zameen.com//Property/mpchs_multi_g...
2,"MPCHS - Block F, MPCHS - Multi Gardens",1.95 Crore,7 Marla,4,6,https://www.zameen.com//Property/mpchs_multi_g...
3,"MPCHS - Block C1, MPCHS - Multi Gardens",1.75 Crore,5 Marla,3,4,https://www.zameen.com//Property/mpchs_multi_g...
4,"Faisal Margalla City, B-17",2 Crore,7 Marla,6,6,https://www.zameen.com//Property/b_17_faisal_m...

In [11]:
# sorting on Area column
df.Area.sort_values()

34       1 Kanal
61       1 Kanal
117      1 Kanal
28       1 Kanal
32       1 Kanal
         ...
68       8 Marla
49       8 Marla
141      8 Marla
48       8 Marla
170    8.5 Marla
Name: Area, Length: 175, dtype: object

In [12]:
# second method by using bracket notation
df['Area'].sort_values()

34       1 Kanal
61       1 Kanal
117      1 Kanal
28       1 Kanal
32       1 Kanal
         ...
68       8 Marla
49       8 Marla
141      8 Marla
48       8 Marla
170    8.5 Marla
Name: Area, Length: 175, dtype: object

In [13]:
# checking type
type(df['Area'].sort_values())

pandas.core.series.Series

In [14]:
# decending order
df['Area'].sort_values(ascending=False)

170    8.5 Marla
132      8 Marla
58       8 Marla
81       8 Marla
42       8 Marla
         ...
12       1 Kanal
133      1 Kanal
34       1 Kanal
33       1 Kanal
82       1 Kanal
Name: Area, Length: 175, dtype: object

In [20]:
# sorting complete data frame using colum Location
df.sort_values('Location')

,Location,Price,Area,Bedrooms,Baths,Link
174,"B-17, Islamabad",2.9 Crore,10 Marla,8,8,https://www.zameen.com//Property/islamabad_b_1...
40,"B-17, Islamabad",1.25 Crore,4.5 Marla,3,3,https://www.zameen.com//Property/islamabad_b_1...
145,"B-17, Islamabad",3.1 Crore,7 Marla,4,5,https://www.zameen.com//Property/islamabad_b_1...
139,"B-17, Islamabad",2.15 Crore,7 Marla,6,5,https://www.zameen.com//Property/islamabad_b_1...
162,"B-17, Islamabad",2.1 Crore,5 Marla,4,5,https://www.zameen.com//Property/islamabad_b_1...
...,...,...,...,...,...,...
65,"MPCHS - Multi Gardens, B-17",2.4 Crore,8 Marla,3,3,https://www.zameen.com//Property/b_17_mpchs_mu...
66,"MPCHS - Multi Gardens, B-17",2.4 Crore,8 Marla,3,3,https://www.zameen.com//Property/b_17_mpchs_mu...
148,"MPCHS - Multi Gardens, B-17",1.6 Crore,5 Marla,4,5,https://www.zameen.com//Property/b_17_mpchs_mu...
44,"MPCHS - Multi Gardens, B-17",2.4 Crore,8 Marla,3,3,https://www.zameen.com//Property/b_17_mpchs_mu...
131,"MPCHS - Multi Gardens, B-17",2.2 Crore,7 Marla,6,6,https://www.zameen.com//Property/b_17_mpchs_mu...

In [23]:
# sorting complete data frame using colum Area (decending order)
df.sort_values('Area', ascending=False)

,Location,Price,Area,Bedrooms,Baths,Link
170,"MPCHS - Block C1, MPCHS - Multi Gardens",2.4 Crore,8.5 Marla,7,7,https://www.zameen.com//Property/mpchs_multi_g...
132,"MPCHS - Block C1, MPCHS - Multi Gardens",2.2 Crore,8 Marla,4,5,https://www.zameen.com//Property/mpchs_multi_g...
58,"MPCHS - Block C1, MPCHS - Multi Gardens",2.75 Crore,8 Marla,4,5,https://www.zameen.com//Property/mpchs_multi_g...
81,"MPCHS - Block C1, MPCHS - Multi Gardens",2.35 Crore,8 Marla,5,4,https://www.zameen.com//Property/mpchs_multi_g...
42,"MPCHS - Multi Gardens, B-17",2.4 Crore,8 Marla,3,3,https://www.zameen.com//Property/b_17_mpchs_mu...
...,...,...,...,...,...,...
12,"MPCHS - Block B, MPCHS - Multi Gardens",6 Crore,1 Kanal,10,8,https://www.zameen.com//Property/mpchs_multi_g...
133,"MPCHS - Block C, MPCHS - Multi Gardens",5.65 Crore,1 Kanal,6,6,https://www.zameen.com//Property/mpchs_multi_g...
34,"MPCHS - Block E, MPCHS - Multi Gardens",2.5 Crore,1 Kanal,7 Marla,6,https://www.zameen.com//Property/mpchs_multi_g...
33,"MPCHS - Block B, MPCHS - Multi Gardens",5.5 Crore,1 Kanal,5,6,https://www.zameen.com//Property/mpchs_multi_g...
82,"MPCHS - Block B, MPCHS - Multi Gardens",6 Crore,1 Kanal,5,6,https://www.zameen.com//Property/mpchs_multi_g...

In [27]:
# sorting using multiple columns like now i sorted using Location and Area
df.sort_values(['Location','Area'])

,Location,Price,Area,Bedrooms,Baths,Link
61,"B-17, Islamabad",6 Crore,1 Kanal,6,6,https://www.zameen.com//Property/islamabad_b_1...
91,"B-17, Islamabad",5 Crore,1 Kanal,6,6,https://www.zameen.com//Property/islamabad_b_1...
6,"B-17, Islamabad",3 Crore,10 Marla,4,5,https://www.zameen.com//Property/islamabad_b_1...
15,"B-17, Islamabad",2.3 Crore,10 Marla,3,3,https://www.zameen.com//Property/islamabad_b_1...
38,"B-17, Islamabad",3.45 Crore,10 Marla,6,6,https://www.zameen.com//Property/islamabad_b_1...
...,...,...,...,...,...,...
68,"MPCHS - Multi Gardens, B-17",2.4 Crore,8 Marla,3,3,https://www.zameen.com//Property/b_17_mpchs_mu...
69,"MPCHS - Multi Gardens, B-17",2.4 Crore,8 Marla,3,3,https://www.zameen.com//Property/b_17_mpchs_mu...
70,"MPCHS - Multi Gardens, B-17",2.4 Crore,8 Marla,3,3,https://www.zameen.com//Property/b_17_mpchs_mu...
71,"MPCHS - Multi Gardens, B-17",2.4 Crore,8 Marla,3,3,https://www.zameen.com//Property/b_17_mpchs_mu...
72,"MPCHS - Multi Gardens, B-17",2.4 Crore,8 Marla,3,3,https://www.zameen.com//Property/b_17_mpchs_mu...